= form_for :feedback do |f|
  %fieldset#user
    - Wingman.stats.each do |k, s|
      .row
        = s.render
        = f.label s.name
        = f.text_field s.name, :value => s.value, :readonly => true
  %fieldset#form
    .row
      = f.label :email
      = f.text_field :email
    .row
      = f.label :comments
      = f.text_field :comments
    .row
      = f.submit
